<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.speed.kinship.model.User" alias="User" />
        <typeAlias type="com.speed.kinship.model.State" alias="State" />
        <typeAlias type="com.speed.kinship.model.Feedback" alias="Feedback" />
        <typeAlias type="com.speed.kinship.model.Thing" alias="Thing" />
        <typeAlias type="com.speed.kinship.model.Memory" alias="Memory" />
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <!-- ?useUnicode=true&amp;characterEncoding=utf8为了支持中文插入 -->
                <property name="url"
                    value="jdbc:mysql://127.0.0.1:3306/kinship?useUnicode=true&amp;characterEncoding=utf8" />
                <property name="username" value="root" />
                <property name="password" value="123456" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/User.xml" />
        <mapper resource="mapper/State.xml" />
        <mapper resource="mapper/Thing.xml" />
        <mapper resource="mapper/Memory.xml" />
        <mapper resource="mapper/Feedback.xml" />
    </mappers>
</configuration>